body { padding-top: 60px; }

body {
  padding-bottom: 20px;
}

th a, th a:hover {
  color:#666;
}

table#partner-table {
   font-size: 15px;
   line-height: 1.42857143;
}

table a.partner-name, table span.partner-name {
   font-weight: bold;
}

td.partner-name {
  width: 60%;
}

td.partner-contact {
  width: 20%;
}

td.partner-tags {
  width: 20%;
}

.dynatable-record-count {
   display: none
}

div.footer {
   margin-top: 2em;
}

div.footer .contact {
   width: 100%;
   text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 850px;
}
